# Ignore arquivos temporários do Visual Studio, resultados de build e
# arquivos gerados por add-ons populares do Visual Studio.

# Arquivos específicos do usuário
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos específicos do usuário (MonoDevelop/Xamarin Studio)
*.userprefs

# Arquivos gerados automaticamente pelo Mono
mono_crash.*

# Resultados de build
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Cache/opções do Visual Studio 2015/2017
.vs/
# Descomente se você tiver tarefas que criam arquivos estáticos do projeto em wwwroot
#wwwroot/

# Arquivos gerados automaticamente pelo Visual Studio 2017
Generated\ Files/

# Resultados de testes MSTest
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Resultados de build de um projeto ATL
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Resultados de benchmark
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Scaffold do ASP.NET
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Arquivos gerados pelo Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
# mas não Directory.Build.rsp, pois configura padrões de build em nível de diretório
!Directory.Build.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Arquivos de teste Chutzpah
_Chutzpah*

# Cache do Visual C++
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Profiler do Visual Studio
*.psess
*.vsp
*.vspx
*.sap

# Arquivos de trace do Visual Studio
*.e2e

# Workspace local do TFS 2012
$tf/

# Toolkit de automação de orientação
*.gpState

# ReSharper é um add-in de codificação .NET
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity é um add-in de build
_TeamCity*

# DotCover é uma ferramenta de cobertura de código
*.dotCover

# AxoCover é uma ferramenta de cobertura de código
.axoCover/*
!.axoCover/settings.json

# Coverlet é uma ferramenta gratuita e multiplataforma de cobertura de código
coverage*.json
coverage*.xml
coverage*.info

# Resultados de cobertura de código do Visual Studio
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Cache do Web workbench (sass)
.sass-cache/

# Pasta de saída do Installshield
[Ee]xpress/

# DocProject é um gerador de documentação add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Diretório Click-Once
publish/

# Publicação de saída web
*.[Pp]ublish.xml
*.azurePubxml
# Nota: Comente a próxima linha se quiser versionar suas configurações de implantação web,
# mas as strings de conexão do banco de dados (com possíveis senhas) não serão criptografadas
*.pubxml
*.publishproj

# Configurações de publicação do Microsoft Azure Web App. Comente a próxima linha se quiser
# versionar suas configurações de publicação do Azure Web App, mas informações sensíveis contidas
# nesses scripts não serão criptografadas
PublishScripts/

# Pacotes NuGet
*.nupkg
# Pacotes de símbolos NuGet
*.snupkg
# A pasta de pacotes pode ser ignorada por causa do Package Restore
**/[Pp]ackages/*
# exceto build/, que é usado como alvo do MSBuild
!**/[Pp]ackages/build/
# Descomente se necessário, mas geralmente será regenerado quando necessário
#!**/[Pp]ackages/repositories.config
# Arquivos project.json do NuGet v3 produzem mais arquivos ignoráveis
*.nuget.props
*.nuget.targets

# Saída de build do Microsoft Azure
csx/
*.build.csdef

# Emulador Microsoft Azure
ecf/
rcf/

# Diretórios e arquivos de pacote do Windows Store app
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Cache do Visual Studio
# arquivos terminados em .cache podem ser ignorados
*.[Cc]ache
# mas mantenha o controle de diretórios terminados em .cache
!?*.[Cc]ache/

# Outros
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Incluir arquivos de nome forte pode apresentar risco de segurança
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Como existem múltiplos workflows, descomente a próxima linha para ignorar bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# Projetos RIA/Silverlight
Generated_Code/

# Arquivos de backup e relatório de conversão de um projeto antigo
# para uma versão mais nova do Visual Studio. Arquivos de backup não são necessários,
# pois temos git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# Arquivos do Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Ferramentas Node.js para Visual Studio
.ntvs_analysis.dat
node_modules/

# Logs de build do Visual Studio 6
*.plg

# Opções de workspace do Visual Studio 6
*.opt

# Arquivo auto-gerado do workspace do Visual Studio 6 (contém quais arquivos estavam abertos etc.)
*.vbw

# Arquivo auto-gerado do projeto do Visual Studio 6 (contém quais arquivos estavam abertos etc.)
*.vbp

# Workspace e arquivo de projeto do Visual Studio 6 (arquivos de projeto que contêm arquivos a incluir no projeto)
*.dsw
*.dsp

# Arquivos técnicos do Visual Studio 6
*.ncb
*.aps

# Cache do Visual Studio LightSwitch
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Gerenciador de dependências Paket
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# Configurações pessoais do CodeRush
.cr/personal

# Ferramentas Python para Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Descomente se estiver usando
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Configuração do Telerik JustMock
*.jmconfig

# Projetos BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Resultados de análise do OpenCover UI
OpenCover/

# Saída local do Azure Stream Analytics
ASALocalRun/

# Binário MSBuild e log estruturado
*.binlog

# Configuração do depurador GPU NVidia Nsight
*.nvuser

# Pasta de trabalho do MFractors (ferramenta de produtividade Xamarin)
.mfractor/

# Histórico local do Visual Studio
.localhistory/

# Arquivos de histórico do Visual Studio (VSHistory)
.vshistory/

# Banco de dados temporário do BeatPulse healthcheck
healthchecksdb

# Pasta de backup para a ferramenta Package Reference Convert no Visual Studio 2017
MigrationBackup/

# Ionide (ferramenta multiplataforma F# para VS Code) pasta de trabalho
.ionide/

# Fody - esquema XML auto-gerado
FodyWeavers.xsd

# Arquivos do VS Code para quem trabalha em múltiplas ferramentas
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Histórico local do Visual Studio Code
.history/

# Arquivos do instalador do Windows
*.cab
*.msi
*.msix
*.msm
*.msp

# Arquivos do JetBrains Rider
*.sln.iml

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
